services:
  postgres:
    image: postgres:15
    container_name: product_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: products_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  product-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: product_service
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_started
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/products_db

volumes:
  postgres_data:
